@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body, html {
    height: 100%;
}